//out: app.css, compress: false
@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

* {
    box-sizing: border-box;
    outline: none;
}

html, body {
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    flex-direction: column;

    font-family: "Inter", sans-serif;
    font-size: 16px;
    font-weight: 400;

    color: #2E2E2E;
    background: #F9F9F9;

    width: 100%;
    height: 100%;
    padding: 0;
    margin: 0;

    .striped {
        background-image: repeating-linear-gradient(45deg, #ebebeb, #ebebeb 5px, transparent 5px, transparent 10px);
    }
}